{% extends "template.html" %}
{% block conteudo %}
    <h4>Centro Federal de Educação Tecnológica de Minas Gerais - Unidade Nepomuceno</h4>
    <h4>Projeto Escrevivências</h4>
<div class="row">
    <div class="col-sm-4">
        <h5>Coordenação do projeto:</h5>
        <ul>
            <li>Profa. Cristiane Côrtes</li>
            <li>Prof. Lucas Guedes</li>
            <li>Profa. Marina</li>
        </ul>

        <h5>Pesquisa de campo:</h5>
        <ul>
            <li>Cris</li>
            <li>Lucas</li>
            <li>Marina</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h5>Equipe técnica:</h5>
        <h6>Front-end</h6>
        <ul>
            <li>Cris</li>
            <li>Lucas</li>
            <li>Marina</li>
        </ul>
        <h6>Back-end</h6>
        <ul>
            <li>Cris</li>
            <li>Lucas</li>
            <li>Marina</li>
        </ul>
        <h6>Banco de dados</h6>
        <ul>
            <li>Cris</li>
            <li>Lucas</li>
            <li>Marina</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h6>Jogos</h6>
        <ul>
            <li>Cris</li>
            <li>Lucas</li>
            <li>Marina</li>
        </ul>
        <h6>Coordenadores técnicos:</h6>
        <ul>
            <li>Prof. Paulo Lima</li>
            <li>Profa. Rosana Massahud</li>
        </ul>
        <h6>Voluntários e equipe de apoio:</h6>
        <ul>
            <li>Cris</li>
            <li>Lucas</li>
            <li>Marina</li>
        </ul>
    </div>
</div>
{% endblock %}